@import "../scss/layout/header.scss";
@import "../scss/layout/footer.scss";

body {
  
  background-color: rgb(242, 232, 240);
}

.all-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: rgb(143, 91, 254) solid 2px;
  border-radius: 20px;
  margin: 3% 3%;
  padding: 3% 3% 4%;
}
.color-menu{
  font-size: 20px;
  margin: 3% 0;
}
img {
  border-radius: 20px;
  
}

.star-full {
  color: rgb(230, 230, 7);
}
.star-null {
  color: gray;
}

.box-price {
  font-size: 20px;
  font-weight: bold;
}
.btn-shop {
  
  text-align: center;
  margin: 5% 0 5% 0%;
  padding: 15px 10px;
  width: 35%;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  color: white;
  background: rgb(230, 141, 40);
  line-height: 5;
    
}
a:hover{
  background: rgb(143, 91, 254);
}
a:active{
  background: rgb(143, 91, 254);
}

@media screen and (min-width: 1100px) {
  .all-box {
    flex-direction: row;
  }
  h2{
    margin-top: 8%;
  }
  img {
    width: 48%;
    
  }
  .box-txt {
    width: 48%;
    height: auto;
    padding: 5% 2% 2% 2%;
    
  }
}
@media screen and (min-width: 1280px) {
  .box-txt {
    padding: 2%;
  }
}
