@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap");
a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  text-align: center;
  line-height: 0;
}

.header-nav li {
  list-style: none;
  display: inline;
  margin: 0 15px;
  font-size: 20px;
}
.header-nav li :hover {
  color: #8f5bfe;
  background: none;
}

.shop-icon {
  color: #8f5bfe;
  font-size: 30px;
}

.all-footer {
  display: flex;
  width: 99.5%;
  border: black 2px solid;
  background: linear-gradient(349deg, #935bfe 5%, #de8721 96%);
}

.box-about {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 5px 15px;
}

.box-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

body {
  background-color: #f2e8f0;
}

.title-shop {
  display: flex;
  width: 100%;
  justify-content: center;
  border: black solid 1px;
  padding: 10px 0;
}

.all-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}

.border-sell {
  border: solid black 1px;
}

.line-object {
  display: flex;
  align-items: center;
}

.description-object {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

img {
  width: 100%;
}

.box-object {
  display: flex;
  justify-content: flex-end;
  border: black solid 1px;
  width: 90%;
  height: 300px;
}

.box-price {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 420px;
  border: black 1px solid;
  margin-left: 2%;
  margin-top: 2%;
}

.total-object {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  line-height: 0;
}

.total-delivery {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  border-bottom: solid 1px black;
  margin-top: 0;
}

.total-end {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.validation {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #05b105;
  color: white;
  margin: 10% 30%;
  padding: 10px 10px;
  border-radius: 20px;
  width: 35%;
}
.validation :hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 0 0 50px red;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  font-size: 25px;
  margin: 10% 20% 10% 21%;
  padding: 5%;
  border: black 1px solid;
}

.box-form {
  margin: 3% 0;
}

#summit {
  margin-top: 15%;
  height: 40px;
}

@media screen and (min-width: 1100px) {
  .all-box {
    flex-direction: row;
    align-items: unset;
  }

  .box-object {
    width: 60%;
  }

  .box-price {
    width: 40%;
    margin-top: 0;
  }
}
.number-shop {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  font-size: 20px;
}

.thank {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
  margin: 7% 3%;
}

strong {
  color: #8f5bfe;
}

.paraph {
  margin: 0;
}

.meassage {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  width: 60%;
  margin: 5% 17%;
}

.color-shop {
  color: #51aafd;
}

#summit {
  margin-left: 25%;
  width: 50%;
}

@media screen and (min-width: 1250px) {
  .form {
    width: 27%;
    margin-left: 35%;
  }
}

/*# sourceMappingURL=shop.css.map */
