.all-footer{
    display: flex;
    width: 99.5%;
    border: black 2px solid;
    background: linear-gradient(349deg, rgba(147,91,254,1) 5%, rgba(222,135,33,1) 96%);
}
.box-about{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 5px 15px;
}
.box-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}