@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap');

a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
}
.banner{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between; 
}

.site-title{
    
    
    text-align: center;
    line-height: 0;
    
}

.header-nav li{
    list-style: none;
    display: inline;
    margin: 0 15px;
    font-size: 20px;
        :hover{
            color: rgb(143, 91, 254) ;
            background: none;
        }  
}

.shop-icon{
    color: rgb(143, 91, 254);
    font-size: 30px;
    
}

#number-shop{
    display: flex;
    background-color: #fff;
    color: rgb(143, 91, 254);
    font-weight: bold;
    border-radius: 50px;
    padding: 1% 2%;
    text-align: center;
    justify-content: center;
    width: 15px;
    margin: -10% 0% 0% 88%;
    
}

